<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

    {% stylesheets filter='' '@CoreBundle/Resources/public/assets/stylesheets/bootstrap.css' 
        '@CoreBundle/Resources/public/assets/stylesheets/pixel-admin.css' 
        '@CoreBundle/Resources/public/assets/stylesheets/pages.min.css' 
        '@CoreBundle/Resources/public/assets/stylesheets/rtl.min.css' 
        '@CoreBundle/Resources/public/assets/stylesheets/themes.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
</head>
<body class="theme-default page-signin">
    <div id="page-signin-bg">
        <div class="overlay"></div>
        <img src="{{ asset('/bundles/core/assets/demo/signin-bg-1.jpg') }}" alt="">
    </div>
    <!-- Container -->
    <div class="signin-container">
        <!-- Left side -->
        <div class="signin-info">
            <a href="index.html" class="logo">
                <img src="{{ asset('/bundles/core/assets/demo/logo-big.png') }}" alt="" style="margin-top: -5px;">&nbsp;
                Admin
            </a> <!-- / .logo -->
        </div>
        <!-- / Left side -->

        <!-- Right side -->
        <div class="signin-form">
            {% block body %}{% endblock %}
        </div>
        <!-- Right side -->
    </div>
    <!-- / Container -->

    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
    {% javascripts filter=''
        '@CoreBundle/Resources/public/assets/javascripts/bootstrap.min.js' 
        '@CoreBundle/Resources/public/assets/javascripts/pixel-admin.min.js'
        %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</body>
</html>
